<!DOCTYPE HTML>
<html>
<head>
  <title>ENGO 551 Final Project</title>
</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="index.html">
      <img src="delivery.png" height="60" width="60" alt="">
      Route Planning for Mobile Grocery Store
    </a>
  </nav>

  <h1>API Endpoint Documentation</h1>
  <div>
    <h2>Introduction</h2>
    <p>This webpage walks through how to use this website's API endpoint.
      Users may make a request using the base path <b>/api/</b> to perform the route planning instead of using the website's main page.</p>
  </div>
  <div>
    <h2>How to Use</h2>
    <p> In the website URL, parameters 'addresslist' and 'stopnum' can be configured to perform K-means clustering and route planning. <br>
      <ul>
        <li>addresslist: in quotes, list customer/reservation addresses. Addresses should be separated by commas.</li>
        <li>stopnum: provide desired number of truck stops. Must be an integer. </li>
      </ul>
    </p>
  </div>
  <div>
    <h2>Example</h2>
    <h3>Input</h3>
    <p>/api/?addresslist='11650 18 ST NE, 390 SADDLECREST CI NE, 165 SADDLEHORN CR NE, 1228 CORNERSTONE WY NE, 61 CORNER MEADOWS GD NE, 161 SADDLELAKE TC NE, 23 HARVEST ROSE CI NE, 355 CORNER MEADOWS AV NE, 54 SAVANNA DR NE, 2312 MILLWARD RD NE, 2720 CENTRE ST NE, 42 TEMPLE PL NE, 75 CITYSCAPE GV NE, 119 TEMPLEVALE PL NE'&stopnum=5
    </p>
    <h3>Output</h3>
    <p>INSERT OUTPUT
    </p>

  </div>
</body>
</html>
