<!DOCTYPE HTML>
<html>
<head>

  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>

  <!--Bootstrap-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!--CSS sheet-->
  <link rel="stylesheet" href="styles.css">

  <title>ENGO 551 Final Project</title>

</head>

<body>

  <!--navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="index.html">
      <img src="delivery.png" height="100" width="100" alt="">
      Route Planning for Mobile Grocery Store
    </a>
  </nav>

  <div class="row">
    <div class="col-md-3">
      <br/>
      <h3>Efficient Route Planning from Uploaded Addresses</h3>
      <p>Please upload a csv file of list of addresses to accomodate on the trip</p>
      <P>The page can be toggled for the list of addresses and the location of the stops and its route</P>
      <br/>
    </div>

    <div class="col-md-9">
      <div id="map"></div>
    </div>

  </div>

  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXNrY2NobyIsImEiOiJja200ZGE3YzEwM2hhMm9wbThweHVpbmdnIn0.WK32LPKYrtmevgs6emkIrQ';
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [-114.0719,51.0447],
  zoom: 12
  });
  </script>

  </body>
  </html>
